.suggestion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 999;
  width: 820px;
  margin-left: 15px;
  height: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  border-radius: 8px;
  overflow-y: auto;
}
.suggestion-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.suggestion-item img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.suggestion-item-details {
  display: flex;
  flex-direction: column;
}

.suggestion-item-details div:first-child {
  font-weight: bold;
  width: 300px;
  margin-bottom: 4px;
  font-size: 13px;
}

.suggestion-item-price {
  display: flex;
  width: 180px;
  max-width: 250px;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.sale-price {
  font-size: 14px;
  color: red;
}
.regular-price {
  font-size: 12px;
  color: gray;

  text-decoration: line-through;
}
.sale {
  margin-left: 5px;
  font-size: 12px;
  color: gray;
}
.add-button {
  align-items: flex-start;
  background-color: #edf0ff;
  border-color: #edf0ff;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  color: #4d69fa;
  display: inline-block;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  width: 100px;
}
.title-element {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
  margin-bottom: 8px;
}
.category-title {
  font-size: 13px;
  color: #323232;
  font-weight: 600;
}
.filter-box {
  padding: 18px 27px;
  margin-bottom: 10px;
  border-radius: 13px;
  box-shadow: #808191 0px 10.8px 10px 0px;
  color: #808191;
}
.search-input-base {
  align-items: center;
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: #dbd9d9 5px 10px 10px 5px;
  color: #808191;
  display: flex;
  font-size: 13px;
  font-weight: medium;
  grid-area: auto;
  line-height: 19.5px;
  margin: 13px 19.5px;
  padding: 0px 9.75px;
  width: 1000px;
  height: 45px;
}
