.my-select-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.my-select-container .ant-select .ant-select-selector {
  border-radius: 10px;
  width: 250px;
}

.borderedSelect {
  border-radius: 10px !important;
  background-color: white;
  border: 1px solid darkgray;
}
