.my-select-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.my-select-container .ant-select .ant-select-selector {
  border-radius: 10px;
  width: 250px;
}

.borderedSelect {
  border-radius: 10px !important;
  background-color: white;
  border: 1px solid darkgray;
}

.edit-button {
  background-color: #e9e9ea;
  border-color: #e9e9ea;
  border-radius: 13px;
  border-style: solid;
  border-width: 1px;
  color: #1f2128;
  display: inline-block;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  grid-area: auto;
  line-height: 19.5px;
  padding: 6.5px 10px;
  text-align: center;
}

